@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@700&family=Mulish:wght@400;700&display=swap');
:root{
    --blanco:#ffffff;
    --rojo:#881014;
    --oscuro:#0d0d0e;
    --titulos:'Arima Madurai',cursive;
    --parrafos:'Mulish', sans-serif;
}
.rojo{
    color: var(--rojo);
    font-size: 2.1rem;
    font-family: var(--titulos);
}
.negro{
    background-color: var(--oscuro);
}
.blanco{
    color: var(--blanco);
    font-family: var(--parrafos);
}
.titulo{
    font-family: var(--titulos);
}
.parrafo{
    font-family: var(--parrafos);
}
#principal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#portada {
    height: 50%;
    width: 50%;
    position: relative;
    flex: none;
}

#portada img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    user-select: none;
}

.test-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

figure {
    height: 50%;
    width: 50%;
    position: relative;
    flex: none;
}
.image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    user-select: none;
}

.nav-pills .nav-link {
    color: #ff0000; /* Color para los enlaces */
}

.nav-pills .nav-link:hover {
    color: #cc0000; /* Color para los enlaces al pasar el mouse */
}
.nav-pills{
    --bs-nav-pills-link-active-bg: #881014 !important;
}